<!--
<ng-container *ngIf="flag">
    <p>primero works!</p>
</ng-container>
<button id = "btn">click</button>
<br>
<div>
    <ng-container *ngFor="let pais of paises"> 
        <h2>{{pais.id}}</h2>
        <p>{{pais.name}}</p>
    </ng-container>    
</div>

<ng-container *ngFor="let item of platillos"> 
    <div [ngSwitch]="item.pais">
        <span *ngSwitchCase="PAISES.MEXICO">Mexico -- {{item.platillo}}</span>
        <span *ngSwitchCase="PAISES.ARGENTINA">Argentina -- {{item.platillo}}</span>
        <span *ngSwitchCase="PAISES.CANADA">Canada -- {{item.platillo}}</span>
    </div>        
</ng-container>    


<h1 appColor [color]="'red'" [size]="'70px'" [dynamicColor]="'blue'" [colorEnter]="'yellow'" >Lo que sea</h1>
<h2 appColor [color]="'green'">Lo que sea2</h2>
-->

